<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Balises meta requises -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <!-- Barre de navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index')}}">VoiceChatAI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <!-- Zone de message et réponse -->
    <div class="row " style="margin-left: 10px;">
                
        <!-- Zone de saisie de la question -->
        <div class="col-6 container-fluid" style="align-items: center;">
            <h1>Question: </h1>
            <div>
                <textarea id="message-input" rows="20" cols="60" style="border-radius: 10px;"></textarea>
            </div>
            <div>
                <!-- Bouton pour commencer la conversion vocale -->
                <p onclick="commencerConversion();" type="button" class="fa fa-microphone btn btn-danger" style="font-size:150%;"></p>
                <!-- Bouton pour arrêter la conversion vocale -->
                <p type="button" type="button" onclick="arreterConversion();" aria-label="Stop Recording"
                    class="fa fa-stop-circle btn btn-danger" style="font-size:150%;"></p>

                <!-- Bouton pour envoyer le message a chatGPT -->
                <p  type="button" class="material-icons btn btn-success" style="font-size:150%;"
                    id="send-btn">send</p>
                    
            </div>
        </div>
         <!-- Zone de réponse -->
        <div class="col-6 container-fluid" style="align-items: center;">
            <div>
                <h1>Reponse</h1>
                 <!-- Boîte de chat pour afficher la réponse -->
                <div class="txt chat-box mt-3">
                     
                  </div>
                <div>
                    <!-- Formulaire pour les options de synthèse vocale -->
                    <form>
                        <!-- Bouton pour commencer la lecture vocale -->
                        <p onclick="commencerLecture()" aria-label="Reponse" type="button"
                            class="fa fa-play-circle btn btn-success" aria-hidden="true" style="font-size:150%;"></p>
                        <!-- Bouton pour arrêter la lecture vocale -->       
                        <p type="button" type="button" onclick="arreterLecture();" aria-label="Stop Recording"
                            class="fa fa-stop-circle btn btn-danger" style="font-size:150%;"></p>
                            
                        <!-- Contrôles de vitesse et de tonalité -->    
                        <div>
                            <label for="vitesse">Vitesse</label><input type="range" min="0.5" max="2" value="1" step="0.1"
                                id="vitesse" />
                            <span class="vitesse-value">1</span>
                            <label for="tonalite">Tonalité</label><input type="range" min="0" max="2" value="1" step="0.1"
                                id="tonalite" />
                            <span class="tonalite-value">1</span>
                            <select></select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


   <!-- Dépendances JavaScript -->
       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    
    <!-- API de reconnaissance vocale -->
    <script>

        var resultat = document.getElementById('message-input');
        var reconnaissanceVocale;

        // Fonction pour commencer la reconnaissance vocale
        function commencerConversion() {
                // Vérification de la compatibilité avec l'API webkitSpeechRecognition
            if ('webkitSpeechRecognition' in window) {
                        // Création d'une nouvelle instance de webkitSpeechRecognition

                reconnaissanceVocale = new webkitSpeechRecognition();
                reconnaissanceVocale.continuous = true;
                reconnaissanceVocale.interimResults = true;
                reconnaissanceVocale.lang = 'fr-CA';
                reconnaissanceVocale.start();

                var TranscriptionFinal = '';
                // Événement déclenché lorsqu'il y a des résultats de la reconnaissance vocal
                reconnaissanceVocale.onresult = function (event) {
                    var TranscriptionsInterimaire = '';
                    // Parcourir les résultats de la reconnaissance
                    for (var i = event.resultIndex; i < event.results.length; i++) {
                        var transcript = event.results[i][0].transcript;
                        // Remplacement des sauts de ligne par des balises <br>
                        transcript = transcript.replace("\n", "<br>");
                         // Vérification si le résultat est final ou non
                        if (event.results[i].isFinal) {
                            TranscriptionFinal += transcript;
                        } else {
                            TranscriptionsInterimaire += transcript;
                        }
                    }           
                     // Affichage des résultats dans l'élément DOM
                    resultat.innerHTML = TranscriptionFinal + TranscriptionsInterimaire;
                };
                // Gestion des erreurs lors de la reconnaissance vocale
                reconnaissanceVocale.onerror = function (event) {
                    console.error(event.error);
                };
            } else {
                // Affichage d'un message si le navigateur n'est pas compatible
                resultat.innerHTML = 'Votre navigateur n\'est pas pris en charge. Veuillez télécharger Google Chrome ou mettre à jour votre navigateur.';
            }
        }
        // Fonction pour arrêter la reconnaissance vocale

        function arreterConversion() {
            // Fonction pour arrêter la reconnaissance vocale
            if (reconnaissanceVocale) {
                reconnaissanceVocale.continuous = false;
                reconnaissanceVocale.interimResults = false;
                reconnaissanceVocale.stop();
            }
        }
        //code inspirée de: https://towardsdatascience.com/voice-to-text-with-chrome-web-speech-api-d98462cb0849
    </script>
    <!-- API de synthèse vocale -->
    <script>
        const syntheseVocale = window.speechSynthesis;
        const inputForm = document.querySelector("form");
        const inputTxt = document.querySelector(".txt");
        const selectionVoix = document.querySelector("select");
        const tonalite = document.querySelector("#tonalite");
        const valeurTonalite  = document.querySelector(".tonalite-value");
        const vitesse = document.querySelector("#vitesse");
        const valeurVitesse = document.querySelector(".vitesse-value");
        const boutonJouer = document.querySelector("#play");
        
        let dernierMessage = ''; // Ajout d'une variable globale pour stocker le dernier message.
        
        let voix = [];
        // Fonction pour remplir la liste des voix disponibles
        function remplirListeVoix() {
            voix = syntheseVocale.getVoices();
            selectionVoix.innerHTML = ''; 

            for (let i = 0; i < voix.length; i++) {
                const option = document.createElement("option");
                option.textContent = voix[i].name + " (" + voix[i].lang + ")";

                if (voix[i].default) {
                    option.textContent += " -- DEFAULT";
                }

                option.setAttribute("data-lang", voix[i].lang);
                option.setAttribute("data-name", voix[i].name);
                selectionVoix.appendChild(option);
            }
        }
        // Appel initial pour remplir la liste des voix
        remplirListeVoix();
        // Vérification de la disponibilité de l'événement onvoiceschanged
        if (speechSynthesis.onvoiceschanged !== undefined) {
            speechSynthesis.onvoiceschanged = remplirListeVoix;
        }
        // Fonction qui démarre la synthèse vocale lorsqu'on appuie sur "play"
        function commencerLecture() {
            
            lectureTexte(dernierMessage);
        }
        // Fonction pour arrêter la synthèse vocale
        function arreterLecture() {
            if (syntheseVocale) {
                syntheseVocale.cancel();
            }
        }
        // Événement onchange pour ajuster la valeur de tonalité
        tonalite.onchange = function () {
            valeurTonalite.textContent = tonalite.value;
        };
        // Événement onchange pour ajuster la valeur de vitesse
        vitesse.onchange = function () {
            valeurVitesse.textContent = vitesse.value;
        };


        // Fonction permettant de lire le texte avec la synthèse vocale
         function lectureTexte(texteALire) {
            event.preventDefault();

            const SelectionOption = selectionVoix.selectedOptions[0].getAttribute('data-name');
            const voixSelectionner = voix.find(voice => voice.name === SelectionOption);

            if (voixSelectionner) {
                const utterThis = new SpeechSynthesisUtterance(texteALire);
                utterThis.voice = voixSelectionner;
                utterThis.tonalite = tonalite.value;
                utterThis.vitesse = vitesse.value;

                syntheseVocale.speak(utterThis);
                

                inputTxt.blur();
            } else {
                console.error("La voix sélectionnée n'a pas été trouvée");
            }
            
        syntheseVocale.speak(utterThis);
        
    }
    
        //code inspirée de: https://developer.mozilla.org/en-US/docs/Web/API/Web_Speech_API/Using_the_Web_Speech_API
    </script>

    <!-- Communication avec ChatGPT -->
    <script>
        // Fonction pour mettre en surbrillance le code à l'aide de la bibliothèque highlight.js
        function SoulignerTout() {
            document.querySelectorAll("pre code").forEach(block => {
                hljs.highlightBlock(block);
            });
        }

        // Éléments du DOM
        const chatBox = document.querySelector(".chat-box");
        const messageInput = document.querySelector("#message-input");
        const boutonEnvoyer = document.querySelector("#send-btn");
        // Fonction pour ajouter un message à la boîte de chat
        function ajouterMessage(message, isUserMessage) {
        const messageDiv = document.createElement("div");
        messageDiv.classList.add("mt-3", "p-3", "rounded", isUserMessage ? "user-message" : "bot-message");

        messageDiv.innerHTML = `<img src="{{ url_for('static', filename='images/user.png') }}" class="user-icon"><p>${message}</p>`;

        chatBox.appendChild(messageDiv);
        chatBox.scrollTop = chatBox.scrollHeight;
            
        dernierMessage = message;
         // Mise à jour du dernier message
    }
    // Fonction pour envoyer un message        
    function messageEnvoyer() {
        const message = messageInput.value.trim();

        if (message !== "") {
            ajouterMessage(message, true);

            fetch("/api", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ message })
            })
                .then(response => response.json())
                .then(data => {
                    messageInput.value = "";

                    const content = data.content;
                    const hasCodeBlock = content.includes("```");

                    if (hasCodeBlock) {
                        const codeContent = content.replace(/```([\s\S]+?)```/g, '</p><pre><code>$1</code></pre><p>');
                        ajouterMessage(codeContent, false);
                        lectureTexte(codeContent);  // Lire le contenu avec la synthèse vocale
                          
                    } 
                    else {
                        ajouterMessage(content, false);
                        lectureTexte(content);  
                        // Lire le contenu avec la synthèse vocale
                    }
                })
                .catch(error => console.error(error));
        }
    }

        // Ajout d'écouteurs d'événements
        boutonEnvoyer.addEventListener("click", messageEnvoyer);
        messageInput.addEventListener("keydown", event => {
            if (event.keyCode === 13 && !event.shiftKey) {
                event.preventDefault();
                messageEnvoyer();
            }
        });

        // Interval pour mettre en surbrillance le code toutes les secondes
        setInterval(SoulignerTout, 1000);
        //Code Inspirée de: https://www.youtube.com/watch?v=1tNER04Ytyc&t=1s
    </script>

</body>

</html>